.header {
    border-bottom: 1px solid var(--header-border-color);
    padding: .5em 1em;
    margin-bottom: 1rem;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .router-link-exact-active {
    position: relative;
}

.header .router-link-exact-active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
}

.header-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}

.header-navigation ul,
.header-navigation li {
    margin: 0;
    padding: 0;
}

.header-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

.container {
    margin: 0 auto;
    max-width: var(--containerMaxWidth);
    padding: 0 var(--containerGutter);
}

.nothing-found {
    padding: 2rem;
    text-align: center;
    color: var(--text-secondary-color);
}